body 
{
    background-color: burlywood;
    font-family: Arial;
    margin: 0%;
}

h1
{
    text-align: center;
    color: blueviolet;
    border: 4px solid white;
    background-color: white;
}

h3
{
    text-align: center; 
    margin-left: -9%;
    color: red;
}

#sensors 
{
    width: 100%;
    margin-left: 3.5%;
    margin-bottom: 2%;
}

.block 
{
    display: inline-block;
    text-align: center;
    width: 30%;
    border: 3px solid purple;
    background-color: bisque;
}

.block-title
{
    font-size: 20px;
    margin: 0%;
    background-color: purple;
    color: red;
}

button
{
    background-color: coral;
    padding: .7em 1.5em;
    margin-right: 4%;
    width: 14.8%;
}

button:hover 
{
    background-color: chocolate;
}

button:active 
{
    background-color: sandybrown;
}

#buttons
{
    width: 100%;
    margin: 2%;
    margin-left: 3.7%;
}

#water_level, #water_level:active, #water_level:hover, #DHT1, #DHT1:active, #DHT1:hover, #DHT2, #DHT2:active, #DHT2:hover, #s1, #s1:active, #s1:hover, #s2, #s2:active, #s2:hover {
    background-color: green;
}

#status {
    margin-top: 5%;
}

#debug_block {
    margin-top: 10%;
}

#test_btn 
{
    display: none;
}
